@page "/admin/pending"
@layout AdminLayout


@using Microsoft.EntityFrameworkCore
@inject AppDbContext Db
@rendermode InteractiveServer


<h2>Offene Zeiteinträge</h2>

<div class="card">
    <div class="row d-flex justify-content-between">
    <div class="col-auto">
    <h3>Zuordnung ausstehend</h3>
    </div>
    <div class="col-auto d-flex">
    <label for="showmanuell" class="form-check form-switch mx-0"><input type="checkbox" class="form-check-input" id="showmanuell" @bind="_Showmanuell">Manuelle checkout</label>
    <label for="showAllUsers" class="form-check form-switch mx-5"><input type="checkbox" class="form-check-input" id="showAllUsers" @bind="_ShowAllUser">alle</label>
    </div>
    </div>
    @if (Pending == null)
    {
        <p>Lade…</p>
    }
    else if (!Pending.Any())
    {
        <p>Keine offenen Einträge.</p>
    }
    else
    {<div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Name eingegeben</th>
                    <th>Event</th>
                    <th>Task</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Dauer</th>
                    <th>Nutzer zuordnen</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Pending)
                {
                    <tr>
                        <td>@e.NameEntered</td>
                        <td>@e.Event?.Name</td>
                        <td>@(string.IsNullOrEmpty(e.Task) ? "-" : e.Task)</td>
                        <td>@e.CheckIn?.ToLocalTime()</td>
                        <td> @(e.CheckOut.HasValue? e.CheckOut.Value.ToLocalTime().ToString() : "-")
                        @if(_Showmanuell){
                           <label> <input type= "checkbox" class="form-check-input" @bind="UnregEnabled[e.Id]"/> manuell setzen</label>
                           @if(UnregEnabled.TryGetValue(e.Id, out var on) && on)
                           {
                                <input type="datetime-local" class="form-control" value="@DateTime.UtcNow" @onchange="(ChangeEventArgs ev) => 
                                datePicked(e,DateTime.Parse(ev.Value!.ToString()!))" />
                            }
                        }
                       </td>
                        <td>@e.DurationHours?.ToString("0.00")</td>
                        <td>
                            <select @key="e.Id" @onchange="(args) => AssignUser(e, args.Value?.ToString())">
                                <option value="">-- User wählen --</option>

                                @{
                                    var sortedUsers = _ShowAllUser?GetSortedUsersForEntry(e,0):GetSortedUsersForEntry(e);
                                }
                                @foreach (var u in sortedUsers)
                                {
                                    <option value="@u.Id">@u.Name</option>
                                }
                            </select>
                        </td>
                        <button class="btn-remove m-0 p-0" @onclick="()=>_confirmDelete=e.Id">✕</button>
                        @if((_confirmDelete==e.Id)){
                                <div class="position-absolute z-100 bg-light border rounded shadow p-4">
                                <button class="btn btn-danger" style="margin:0.5rem;" @onclick="() => rejectEntry(e)">Ja, ablehnen</button>
                                <button class="btn btn-secondary" style="margin:0.5rem;" @onclick="() => _confirmDelete=-1">abbrechen</button>
                                </div>
                        }
                    </tr>
                }
            </tbody>
        </table>
        </div>
    }
</div>

@code {
    private List<TimeEntry>? Pending;
    private List<User> Users = new();
    private bool _ShowAllUser=false;
    private int _confirmDelete=0;
    private bool _Showmanuell=false;
    Dictionary<int,bool> UnregEnabled=new();
    bool _initialized= false;

    protected override async Task OnInitializedAsync()
    {   
        if (!_initialized){
            _initialized = true;
            Pending = await Db.TimeEntry
            .Include(t => t.Event)
            .Where(t => t.Status == "pending_assignment")
            .OrderByDescending(t => t.CheckIn)
            .ToListAsync();
            foreach (var e in Pending)
            {
                UnregEnabled[e.Id] = false;
            }
            Users = await UService.GetAllAsync();
        }
    }

    private List<User> GetSortedUsersForEntry(TimeEntry entry, int Elements=10)
    {
        return UService.SortUser(Users,entry.NameEntered,Elements);
    }

    private async Task AssignUser(TimeEntry entry, string? value)
    {
        if (int.TryParse(value, out var userId))
        {
            var user = Users.FirstOrDefault(u => u.Id == userId);
            if (user == null) return;

            entry.UserId = userId;
            entry.UserName= user.Name;
            entry.Status = entry.CheckOut.HasValue ? "checked_out" : "checked_in";

            await Db.SaveChangesAsync();
            Pending?.Remove(entry);
            StateHasChanged();
            Toasts.ShowSuccess("Entry zugewiesen",$"{user.Name} wurden erfolgreich {entry.DurationHours} hinzugefügt.");
        }
    }
    void datePicked(TimeEntry entry, DateTime date){
        entry.CheckOut = date;
        entry.DurationHours = (entry.CheckOut-entry.CheckIn)?.TotalHours;
        StateHasChanged();
    }
    private async Task rejectEntry(TimeEntry entry){
        entry.Status = "rejected";
        await Db.SaveChangesAsync();
        Pending?.Remove(entry);
        StateHasChanged();
        Toasts.ShowInfo("Abgelehnt", $"Entry von {entry.NameEntered} wurde abgelehnt." );
    }
}