@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject AppState State


@code {
    private string? Code;

    protected override Task OnInitializedAsync()
{
    if (State.CurrentUser == null)
    {
        Nav.NavigateTo("/user/login", true);
        return Task.CompletedTask;
    }

    if (State.CurrentUser.Role != "admin")
    {
        Nav.NavigateTo("/user/dashboard", true);
        return Task.CompletedTask;
    }

    return Task.CompletedTask;
}
}
<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/"/>
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="app.css"/>
        <link rel="stylesheet" href="Worktrack.styles.css"/>
        <link rel="icon" type="image/png" href="favicon.png?v=2"/>
        <script src="_framework/blazor.web.js"></script>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
<ToastHost />
<div class="layout">
    <header>
        <a href="/">
            <img src="/images/clubwork.png" alt="Clubwork logo" width="70" height="70" style="display:block;" />
        </a>

        <nav>
            <a href="/user/login">User Login</a>
            <a href="/user/dashboard">Dashboard</a>
            <a href="/admin/dashboard">Admin</a>
        </nav>

    </header>

    <main class="container">

        <h2>Admin Dashboard</h2>

        <div class="card">
            <h3>Verwaltung</h3>
            <p>Wähle einen Bereich:</p>

            <div class="container mt-3">

                <!-- Navigation Tabs -->
                <ul class="nav nav-tabs mb-4">

                    <li class="nav-item">
                        <a class="nav-link @(Active("users"))" href="/admin/users">
                            Benutzer
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @(Active("events"))" href="/admin/events">
                            Events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Active("Seasons"))" href="/admin/seasons">
                            Seasons
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @(Active("pending"))" href="/admin/pending">
                            Offene Einträge
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @(Active("archive"))" href="/admin/archive">
                            Stunden archivieren
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link @(Active("import-users"))" href="/admin/import/users")">
                            User Import
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Active("import-timeEntrys"))" href="/admin/import/timeentries")">
                            Time Entry Import
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Active("public"))" href="/admin/public">
                            Öffentlichkeit
                        </a>
                    </li>

                </ul>
                <div style="position:fixed;top:0;right:0;z-index:9999;">
                
                </div>
                <!-- Admin Page Content -->
                @Body
            </div>
        </div>

    </main>
    


<footer>
        © @(DateTime.Now.Year) Worktrack – All rights reserved.
        <a href="/impressum">Impressum</a> · 
        <a href="/datenschutz">Datenschutz</a>
</footer>

</div>
@code {
    string Active(string page)
    {
        var uri = Nav.Uri.ToLower();
        return uri.Contains($"/admin/{page}".ToLower())
        ? "active"
        : "";
    }

}