@inherits LayoutComponentBase
@layout MainLayout
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<h2>Admin Dashboard</h2>
<AuthorizeView Roles="admin">
        <Authorized>
<div class="card">
    <h3>Verwaltung</h3>
    <p>Wähle einen Bereich:</p>

    <div class="container mt-3">

        <!-- Navigation Tabs -->
        <ul class="nav nav-tabs mb-4">

            <li class="nav-item">
                <a class="nav-link @(Active("users"))" href="/admin/users">
                    Benutzer
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(Active("events"))" href="/admin/events">
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Active("Seasons"))" href="/admin/seasons">
                    Seasons
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(Active("pending"))" href="/admin/pending">
                    Offene Einträge
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(Active("archive"))" href="/admin/archive">
                    Stunden archivieren
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @(Active("import-users"))" href="/admin/import/users">
                    User Import
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Active("import-timeEntrys"))" href="/admin/import/timeentries">
                    Time Entry Import
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(Active("public"))" href="/admin/public">
                    Öffentlichkeit
                </a>
            </li>

        </ul>
        <div style="position:fixed;top:0;right:0;z-index:9999;">

        </div>
        <!-- Admin Page Content -->
        @Body
    </div>
</div>
</Authorized>

<NotAuthorized>
        <p class="text-muted">Kein Zugriff</p>
</NotAuthorized>

</AuthorizeView>

@code {
    string Active(string page)
    {
        var uri = Nav.Uri.ToLower();
        return uri.Contains($"/admin/{page}".ToLower())
        ? "active"
        : "";
    }
}