@inherits LayoutComponentBase
@inject NavigationManager Nav
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@code{
    ClaimsPrincipal? user;
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = default!;
    bool IsAdmin => user?.IsInRole("admin") == true;
    protected override async Task OnInitializedAsync(){
        var authState = await AuthenticationStateTask;
        user = authState.User;
        _menuOpen = false;
        // 🔒 Nicht eingeloggt
    }
}
    <ToastHost/>
<div class="layout">
@if(!_menuOpen){
<p class="mobile-menu-button d-lg-none animate-fade-down m-0  text-center">
    <button class="btn p-0 mt-2" style="background:none;"
            @onclick="ToggleMenu"
            aria-label="Menü öffnen">
        ☰
    </button>
</p>}
        

     <div class="main-div perspective effect-rotateleft @(_modalview? "modalview":"") @( _menuOpen ? "animate" : "" )" style="background: #2563eb;"> 
        <div class="main-content-div" @onclick="CloseMenu">
            <div class="wrapper">
    <header>
        <a href="/">
            <img src="/images/clubwork.png" alt="Clubwork logo" width="70" height="70" style="display:block;" />
        </a> 

        <div class="d-flex align-items-center justify-content-between h-100">

            <!-- Desktop: Topbar Menü -->
            <nav class="d-none d-lg-flex align-items-center gap-2">
        
            <a  href="/user/login">User Login</a>
            <a  href="/user/dashboard">Dashboard</a>
            <a  href="/activities">Aktivitäten</a>
            @if(IsAdmin){
            <a  href="/admin/dashboard">Admin</a>}
            </nav>
        </div>
    </header> 
     <!-- Mobile Offcanvas --> 

    
        
     <main class="container">
         @Body
     </main>
           
        

    <footer>
        © @(DateTime.Now.Year) Worktrack – All rights reserved.
        <a href="/impressum">Impressum</a> · 
        <a href="/datenschutz">Datenschutz</a>
    </footer>
            </div>
        </div> 
    
     <div class="offcanvas-menu-wrapper">  
     <div class="bubble active"></div>
    <div class="bubble hover"></div>
    <nav class="menu-overlay slideInMainMenu animated d-block">
    <a @onclick="CloseMenu" class="animated @Active("login")" href="/user/login">User Login</a>
    <a @onclick="CloseMenu" class="animated @Active("/user/dashboard")" href="/user/dashboard">Dashboard</a>
    <a @onclick="CloseMenu" class="animated @Active("activities")" href="/activities">Aktivitäten</a>
    @if(IsAdmin){
    <a @onclick="CloseMenu" class="animated @Active("admin")" href="/admin/dashboard">Admin</a>}
    </nav>   
    </div>
    </div>  
</div>
@code {
    private bool _menuOpen;
    private bool _modalview = false;

    private void ToggleMenu(){_menuOpen = true; _modalview=true;}
    private async Task CloseMenu(){ _menuOpen = false; await Task.Delay(350); _modalview=false;}

    string Active(string page)
    {
        var uri = Nav.Uri.ToLower();
        return uri.Contains($"{page}".ToLower())
        ? "active"
        : "";
    }
}
