@page "/teamstats"
@using System.Text.RegularExpressions

@inject AppDbContext Db
@inject NavigationManager Nav
@inject SeasonService seasonService
@inject AppState state

<h2>Team Event Statistik</h2>

@if (Users == null || Events == null)
{
    <p>Lade Daten...</p>
}
else
{
    <!-- GLOBAL TEAM OVERVIEW -->
    <div class="card">
        <h3>Team Performance (Gesamtjahr)</h3>
        <p class="text-gray">Stunden & Eventteilnahmen für alle Mitglieder die sich vergleichen wollen.</p>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Events besucht</th>
                        <th>Gesamtstunden</th>
                        <th>Achievements</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var u in GlobalStats)
                    {
                        <tr>
                            <td>@u.Rank</td>
                            <td>@u.Name</td>
                            <td>@u.EventsVisited</td>
                            <td>@((u.TotalHours).ToString("0.0")) h</td>
                            <td>
                                @foreach (var a in u.Achievements)
                                {
                                    <span class = "badge" data-bs-toggle="tooltip" title="@a.tooltip">
                                      @a.shown
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--- SEASON GROUPS -->

    @foreach (var group in SeasonGroups.Keys)
    {
        <div class="card">
            <h3>@group.Name</h3>

            @if (!SeasonGroups[group].Any())
            {
                <p>Keine Events in dieser Saison</p>
            }
            else
            {
                @foreach (var ev in SeasonGroups[group])
                {
                    <div style="margin-top:1.5rem;">
                        <h4>@ev.Name (@ev.Location)</h4>
                        <p class="text-gray">@ev.StartTime.ToShortDateString()</p>

                        @if (!EventStats.ContainsKey(group.Name))
                        {
                            <p>Keine Teilnehmer.</p>
                        }
                    </div>
                }
                var list = EventStats[group.Name];
                <div style="display:flex; gap:1rem; margin:1rem 0;">
                    <!-- Podium -->
                    @if (list.Count >= 2)
                    {

                    <div class="podium-card">
                        <div class="podium-rank silver">2</div>
                        <div class="podium-name">@list[1].Name</div>
                        <div class="podium-hours">@list[1].Hours.ToString("0.0") h</div>
                    </div>
                    }
                    <div class="podium-card">
                        <div class="podium-rank gold">1</div>
                        <div class="podium-name">@list[0].Name</div>
                        <div class="podium-hours">@list[0].Hours.ToString("0.0") h</div>
                    </div>
                    @if (list.Count >= 3)
                    {
                    <div class="podium-card">
                        <div class="podium-rank bronze">3</div>
                        <div class="podium-name">@list[2].Name</div>
                        <div class="podium-hours">@list[2].Hours.ToString("0.0") h</div>
                    </div>

                    }
                </div>
            }
        </div>
    }
}

@code {
    private List<User> Users = new();
    private List<Event> Events = new();
    private List<TimeEntry> Entries = new();

    private List<GlobalUserStats> GlobalStats = new();
    private Dictionary<Season, List<Event>> SeasonGroups = new();
    private Dictionary<string, List<EventUserStats>> EventStats = new();

    protected override Task OnAfterRenderAsync(bool firstRender){
        if(firstRender){
            if(state.CurrentUser==null){
                Nav.NavigateTo("user/login",true);
                return Task.FromException(new Exception("Nicht angemeldet"));
            }
            if(!state.CurrentUser.ShareStats){
                Nav.NavigateTo("user/login",true);
                return Task.FromException(new Exception("Teilt Daten nicht!"));
            }
        }
        return Task.CompletedTask;
    }
    protected override async Task OnInitializedAsync()
    {
        Users = await Db.Users.Where(u => u.ShareStats == true).ToListAsync();
        Events = await Db.Events.ToListAsync();
        Entries = await Db.TimeEntry
        .Where(e => e.CheckIn != null && e.CheckOut != null && e.UserId != null)
        .Include(e => e.Event)
        .ToListAsync();

        SeasonGroups = await seasonService.BuildSeasonGroupsAsync();
        BuildEventStats();
        foreach (var group in SeasonGroups.Keys)
        {
            if (SeasonGroups[group].Any())
            {
                var podium = EventStats[group.Name];
                for (int i = 0; i < Math.Min(3, podium.Count); i++)
                {
                    podium[i].Name = await CheckForOpenUsernameAsync(podium[i].UserId);
                }
            }
        }
        BuildGlobalStats();
    }


    private void BuildEventStats()
    {
        foreach (var group in SeasonGroups.Keys)
        {
            var events =SeasonGroups[group];

            // Alle Einträge aller Events der Gruppe
             var stats = seasonService.BuildSeasonStats(
            group,
            events,
            Entries
            );

            if (stats.Any())
                EventStats[group.Name] = stats;
        }
    }

    private async Task<string> CheckForOpenUsernameAsync(int UserId)
    {
        User? user = await Db.Users.FirstOrDefaultAsync(u => u.Id == UserId);

        return user is { ShareStats: true }
        ? user.Name
        : "----------";

    }

    private void BuildGlobalStats()
    {
        foreach (var u in Users)
        {
            var userEntries = Entries.Where(e => e.UserId == u.Id).ToList();

            double totalHours = userEntries.Where(e => e.IsArchived == false).Sum(e => (e.DurationHours ?? 0));
            int eventsVisited = userEntries.Where(e => e.IsArchived == false).Select(e => e.EventId).Distinct().Count();
            totalHours += u.BonusHours;
            var achievements = BuildAchievements(u, totalHours, eventsVisited);
            
            GlobalStats.Add(new GlobalUserStats
            {
                Id = u.Id,
                Name = u.Name,
                TotalHours = totalHours,
                EventsVisited = eventsVisited,
                Achievements = achievements,
                Bonus = u.BonusHours
            });
        }

        GlobalStats = GlobalStats
        .OrderByDescending(x => x.TotalHours)
        .Select((x, i) =>
        {
            x.Rank = i + 1;
            return x;
        })
        .ToList();
    }

    private List<SimpleAchievement> BuildAchievements(User u, double hours, int eventsVisited)
    {
        var list = new List<SimpleAchievement>();

        if (eventsVisited >= 1) list.Add(new(){shown="🆕",tooltip="Newcomer"});
        if (eventsVisited >= 3) list.Add(new(){shown="⚡🏃",tooltip="Eventrunner"});
        if (eventsVisited >= 10) list.Add(new(){shown="🎉⚔️",tooltip="Eventveteran"});
        if (hours >= 20) list.Add(new(){shown="💪",tooltip="Hardworker"});
        if (hours >= 50) list.Add(new(){shown="🌟",tooltip="50 Hours"});
        if (hours >= 100) list.Add(new(){shown="💎",tooltip="100 Hours"});
        bool podium = false;
        bool seasonHero = false;
        if (SeasonGroups.Keys.Any()) seasonHero=true;
        foreach(var group in SeasonGroups.Keys){
            if (SeasonGroups[group].Any()){
                if(!EventStats[group.Name].Any(es =>es.UserId ==u.Id)) seasonHero =false;  
                if(EventStats[group.Name].Take(3).Any(es=>es.UserId==u.Id)) podium = true;
            }
        }
        if (podium) list.Add(new(){shown="🥈🏆🥉",tooltip="Podium"});
        if (seasonHero) list.Add(new(){shown="🌸🍂🚀❄️☀️",tooltip="Season Hero"});
        // Teilnahme an allen Saisons?
       

       // if (k && s && h)
         //   list.Add("Season Hero");

        return list;
    }


    class GlobalUserStats
    {
        public int Id { get; set; }
        public string Name { get; set; } = "";
        public int Rank { get; set; }
        public int EventsVisited { get; set; }
        public double TotalHours { get; set; }
        public int Bonus { get; set; } = 0;
        public List<SimpleAchievement> Achievements { get; set; } = new();
    }

    class SimpleAchievement{
        public string shown = "";
        public string tooltip = "";
    }
}